body{
    background-color: white;
}
.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

#BladeFooter li{
    list-style-type: none;
}


#e-mail {
    font-size: 12px;
    font-family:"Arial";
    color: rgba(109, 110, 113, 0.502);
    font-style: italic;
    border:none;
    outline:none;
    box-shadow: none;
    text-decoration: none;
    background-color: transparent;
    cursor: auto;
    display: inline-block;

}
.footer-move-left{
    text-align: center;

}
.footer-move-left p{
    font-size: 20px;
    font-family: "Arial";
    color: whitesmoke;
}
footer{
    background-color: #6b9dbb;

}

#footer_span{
    color: rgb(121, 77, 159);
    font-weight: bold;
}
.btn-submit{
    font-size: 12px;
    font-family: "Ariel";
    color: #1f648b;
    text-transform: uppercase;
    text-align: center;
    -moz-transform: matrix( 0.99992415010354,0,0,1,0,0);
    -webkit-transform: matrix( 0.99992415010354,0,0,1,0,0);
    -ms-transform: matrix( 0.99992415010354,0,0,1,0,0);
    z-index: 44;
    width: 113px;
    border: 1px  solid #6D6E71;
    outline:none;
    box-shadow: none;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;

}

.contact{
    left: 200px;
}
.contactButon{
    font-size: 18px;
    border: none;
    outline:none;
    box-shadow: none;
    text-decoration: none;
    background-color: green;
    cursor: pointer;
    font-family: "Times New Roman";
    color: white;
    display: inline-block;
    line-height: 1.2;
    text-align: right;
    position: relative;

}

.moveleft-cotact{
    left: 100px;
    padding-top: 60px;
}
.move-down{
    padding-top: 70px;
}
.move-down-row{
    padding-bottom: 50px;
}
.contentContactForm {
    font-size: 17px;
    font-family: "Arial";
    color: indigo;
    font-style: italic;
}

#contentInfo{
    text-align: left;
    position: absolute;
    box-sizing:border-box;
    width: 525px;
    top: 150px;
    margin-left: 150px;
}

.Title1{
    font-size: 20px;
    font-family: "Times New Roman";
    color: rgb(240, 77, 63);
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    position: relative;

}

#position{
    text-align: left;
    width: 50px;
}

body{
    background-color: lightyellow;
}

.divspancontact span{
    float: left;
    width:50%;
    position: relative;
}
.contactrightspan{
    text-align: right;
}
img{
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
}